@media only screen and (min-width: 48rem) {

    /* Hide hamburger button */
    #menu-toggle {
        display: none;
    }

    /* Navigation Bar horizontally laid out */
    #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #nav-menu li {
        flex: 1;
        text-align: center;
        max-width: 150px;
    }

    #nav-menu li a {
        border-bottom: none;
    }

    /* Responsive Directory Grid (3 Columns on Desktop) */
    .grid-view {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    /* List View style updates for Wide screen layout */
    .list-view .member-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.5rem;
    }

    .list-view .member-card:nth-child(even) {
        background-color: #edf2f7;
    }
}